body{
  margin:0;
  box-sizing: border-box;
  background-image: url("https://images.unsplash.com/photo-1610147323479-a7fb11ffd5dd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fG5hdHVyZSUyMGJhY2tncm91bmR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.card{
  background: url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8c2t5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
.card-img-top{
  width: 100%;
  max-width: 200px;
  height: auto;
}
.font{
  font-family:"Lucida";
}
